<div class="roundedContainer smallGraph col-lg-6">
	<div class="row graph_header">
	    <div class="col-xs-11">
	        <h4>{{ title }}</h4>
	    </div>
	    <div class="col-xs-1 confGraph disabled"><a><span class="glyphicon glyphicon-cog"></span></a></div>
	</div>
    <div class="row">
        <div class="col-xs-10">
        </div>
    </div>
    <div class="graphBorder"></div>
    <div class="jqplot" style="position: relative; height: 250px;"></div>

    <div class="colorMap" style=" margin-top:5px;">
    	{{#each settings.series}}
	    	<div class="status" style="background: {{color}};"></div> <span>{{label}}</span>
    	{{/each}}
	</div>
</div>