<div class="roundedContainer smallGraph col-lg-6" style="width:300px; height:auto">
  <h5>MBeans</h5>
  <ul class="MBeans">
    {{#each this}}
    <li {{#if rawName}}data-hasAttr data-rawName="{{rawName}}"{{/if}} class="parent">{{name}}</li> 
    <ul class="hidden">
      {{#each types}}
        <li {{#if rawName}}data-hasAttr data-rawName="{{rawName}}"{{/if}} {{#if objects}}class="parent"{{/if}}>{{name}}</li>
        <ul class="hidden">
          {{#each objects}}
            <li {{#if rawName}}data-hasAttr data-rawName="{{rawName}}"{{/if}}>{{name}}</li>
          {{/each}}
        </ul>
      {{/each}}
    </ul>
    {{/each}}
  </ul>
</div>

