<div>
	<div class="roundedContainer">
		<div class="row graph_header">
		    <div class="col-xs-11">

		        <h4 style="margin-left:5px">{{ title }}</h4>
		    </div>
		</div>
	    <div class="row">
	        <div class="col-xs-10">
	        </div>
	    </div>
	    <div class="graphBorder"></div>
	    <div class="jqplot"></div>
	    <div class="colorMap" style=" margin-top:5px;">
	    	{{#each settings.series}}
		    	<div class="status" style="background: {{color}};"></div> <span>{{label}}</span>
	    	{{/each}}
		</div>
	</div>
</div>	